[defaults]
inventory=./depi-inventory
remote_user=ansible
ask_pass=false

ansible_managed="This File is generated and managed by Ansible Template"

[privilege_escalation]
become=true
become_method=sudo
become_user=root
become_ask_pass=false
